@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/Helvetica\ Neu\ Bold.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/HelveticaNeue.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/HelveticaNeueLt.ttf');
  font-weight: 100;
}
