@import 'normalize';
@import 'fonts';

body {
  padding: 40px 40px;
  font-size: 1.3em;
  font-family: 'Helvetica', sans-serif;
  margin-bottom: 0px;

  a,
  a:visited,
  a:hover{
    color: #000;
  }
}

.header-container {

  .header {
    text-align: left;
    width: 35%;
    display: inline-block;

    &__heading {
      color: #000;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin: 0;
      font-weight: bold;
      text-align: left;
      vertical-align: bottom;

      &--small {
        font-weight: normal;
        color: #0f0f0f;
        margin: 0;
        text-align: left;
      }
    }
  }

  .contact-container {
    margin: 0;
    text-align: right;
    width: 63%;
    line-height: 1.4em;
    font-size: 1.1em;
    display: inline-block;
    vertical-align: top;

    &__website,
    &__email,
    &__phone {
      margin-bottom: 0px;
      display: inline-block;
      width: 50%;
    }

    .basics-section {
      margin-bottom: 5px;
      border-top: 1px #E2E2E2 solid;
      border-bottom: 1px #E2E2E2 solid;

      h3 {
        margin-top: 0em;
        margin-bottom: 0px;
      }

      &__summary {
        padding-top: 0px;
        clear: both;
      }
    }
  }

  .basics-section {
    width: 82%;
    text-align: justify;
  }
}





.content {
  //width: 100%;
  padding: 0;
  margin: 0 auto;

  &__title {
    background: #D0D0D0;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
  }

  .work-section,
  .education-section {
    &__work_date,
    &__work_position,
    &__work_website,
    &__work_institution,
    &__work_study_date,
    &__work_qualification {
      margin-bottom: 0px;
      display: inline-block;
      width: 30%;
      font-weight: bold;
    }

    .item {

      &__container {
        display: flex;
        flex-wrap: wrap;
        padding: 15px 0;
      }

      &__title-container {
        flex: 40%;

        .work_name,
        .work_position {
          display: inline-block;
        }

        .work_position {
          font-weight: bold;
        }

        .work_name {
          text-transform: uppercase;
        }
      }

      .work_date {

        &__end-date,
        &__start-date {
          display: inline-block;
        }
      }
      .summary {
        width: 82%;
        text-align: justify;
      }

      .highlights {

        &__list {
          padding: 0 0 0 40px;
          margin: 0.25em 0;

          li {
            margin-left: 10px;
          }
        }
      }
    }
  }

  .skills-section {
    .skills-container {
      .item {
        display: inline-block;
        width: 32%;
        vertical-align: top;
      }
    }
  }
}
