@import 'normalize';
@import 'fonts';

$max-document-width: 811px;
$max-document-width-print: 1500px;
$text-content-percent: 75%;

@mixin list-style($top: 7px, $left: -15px) {
  position: absolute;
  top: $top;
  left: $left;
  content: '';
  background-color: black;
  border-radius: 50%;
  width: 5px;
  height: 5px;
}

body {
  padding: 40px;
  font-size: 1em;
  font-family: 'Helvetica', sans-serif;
  margin-bottom: 0;
  max-width: $max-document-width;
  margin: auto;
  text-align: justify;

  a,
  a:visited,
  a:hover {
    color: #000;
  }

  li {
    position: relative;
    list-style: none;

    &::before {
      @include list-style();
    }
  }
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  .header {
    text-align: left;
    width: 49%;
    display: inline-block;

    &__heading {
      color: #000;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin: 0;
      font-weight: 400;
      text-align: left;
      vertical-align: bottom;

      &--small {
        font-weight: 100;
        color: #0f0f0f;
        margin: 0;
        text-align: left;
      }
    }
  }

  .contact-container {
    margin: 0;
    text-align: right;
    width: 50%;
    line-height: 1.4em;
    font-size: 1.1em;
    display: inline-block;
    vertical-align: top;

    &__website,
    &__email,
    &__phone {
      margin-bottom: 0;
      display: inline-block;
      width: 50%;
      font-weight: 100;
    }
  }

  .basics-section {
    margin-top: 5px;
    border-top: 1px #E2E2E2 solid;
    border-bottom: 1px #E2E2E2 solid;
    width: 100%;
    text-align: center;

    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }

    &__summary {
      padding: 0 13%;
      clear: both;
      font-weight: 100;
    }
  }
}

.content {
  padding: 0;
  margin: 0 auto;

  &__title {
    background: #D0D0D0;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 1em;

    &--footer {
      margin-bottom: 0;
    }
  }

  .work-section,
  .education-section {
    &__work_date,
    &__work_position,
    &__work_website,
    &__work_institution,
    &__work_study_date,
    &__work_qualification {
      margin-bottom: 0;
      display: inline-block;
      width: 30%;
    }

    .item {
      border-bottom: 1px solid #D0D0D0;
      padding-bottom: 6px;

      &:last-child {
        margin-bottom: 0px;
      }

      &__container {
        padding: 5px 0 0 0;
      }

      &__title-container {
        display: inline-block;
        width: 49%;

        .work_name,
        .work_position {
          display: inline-block;
        }

        .work_position {
          font-weight: 100;
        }

        .work_name {
          font-weight: 400;
          text-transform: uppercase;
        }
      }

      .work_date {
        width: 50%;
        text-align: right;
        display: inline-block;
        font-weight: 100;

        &__end-date,
        &__start-date {
          display: inline-block;
        }
      }
      .summary {
        width: $text-content-percent;
        font-weight: 100;
      }

      .highlights {
        width: $text-content-percent;
        font-size: 0.95em;
        font-weight: 100;

        &__list {
          padding: 0 0 0 40px;
          margin: 0.25em 0;

          li {
            margin-left: 10px;
          }
        }
      }
    }
  }

  .skills-section {
    border-bottom: 1px solid #D0D0D0;

    .skills-container {
      display: flex;
      flex-wrap: wrap;

      .item {
        width: 19%;
        margin: auto;
        padding: 2px;
        vertical-align: top;
        min-height: 195px;
        text-align: left;
        border: 0;

        &__name {
          font-weight: 400;

          p {
            padding: 5px 0;
            margin: 0;
          }
        }

        &__keywords {
          font-weight: 100;
          padding: 0 15px;
          margin: 0;
        }
      }
    }
  }
}

@media print {
  body {
    max-width: $max-document-width-print;
    font-size: 1.7em;

    li {
      position: relative;
      list-style: none;

      &::before {
        @include list-style(14px, -30px);
      }
    }

    .content .skills-section {
      .skills-container {
        display: block;
        .item {
          display: inline-block;

          &__keywords {
            padding: 0 30px;
          }
        }
      }
    }
  }
}