<div id="skills">
    <div class="content__title">Skills</div>
    {{#each resume.skills}}
        <div class="item">
            {{#if name}}
                <div class="name">
                    <p>{{name}}</p>
                </div>
            {{/if}}
            {{#if level}}
                <div class="level">
                    <em>{{level}}</em>
                </div>
            {{/if}}
            {{#if keywords.length}}
                <ul class="keywords">
                    {{#each keywords}}
                        <li>{{.}}</li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    {{/each}}
</div>