/*! normalize.css 2012-02-07T12:37 UTC - http://github.com/necolas/normalize.css */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

h2 {
  font-size: 1.5em;
  margin: .83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: .83em;
  margin: 1.67em 0; }

h6 {
  font-size: .75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl, menu, ol, ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu, ol, ul {
  padding: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Helvetica';
  src: url("./fonts/Helvetica Neu Bold.ttf");
  font-weight: 400; }

@font-face {
  font-family: 'Helvetica';
  src: url("./fonts/HelveticaNeue.ttf");
  font-weight: 700; }

@font-face {
  font-family: 'Helvetica';
  src: url("./fonts/HelveticaNeueLt.ttf");
  font-weight: 100; }

body {
  padding: 40px;
  font-size: 1em;
  font-family: 'Helvetica', sans-serif;
  margin-bottom: 0;
  max-width: 811px;
  margin: auto;
  text-align: justify; }
  body a,
  body a:visited,
  body a:hover {
    color: #000; }
  body li {
    position: relative;
    list-style: none; }
    body li::before {
      position: absolute;
      top: 7px;
      left: -15px;
      content: '';
      background-color: black;
      border-radius: 50%;
      width: 5px;
      height: 5px; }

.header-container {
  display: flex;
  flex-wrap: wrap; }
  .header-container .header {
    text-align: left;
    width: 49%;
    display: inline-block; }
    .header-container .header__heading {
      color: #000;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin: 0;
      font-weight: 400;
      text-align: left;
      vertical-align: bottom; }
      .header-container .header__heading--small {
        font-weight: 100;
        color: #0f0f0f;
        margin: 0;
        text-align: left; }
  .header-container .contact-container {
    margin: 0;
    text-align: right;
    width: 50%;
    line-height: 1.4em;
    font-size: 1.1em;
    display: inline-block;
    vertical-align: top; }
    .header-container .contact-container__website, .header-container .contact-container__email, .header-container .contact-container__phone {
      margin-bottom: 0;
      display: inline-block;
      width: 50%;
      font-weight: 100; }
  .header-container .basics-section {
    margin-top: 5px;
    border-top: 1px #E2E2E2 solid;
    border-bottom: 1px #E2E2E2 solid;
    width: 100%;
    text-align: center; }
    .header-container .basics-section h3 {
      margin-top: 0;
      margin-bottom: 0; }
    .header-container .basics-section__summary {
      padding: 0 13%;
      clear: both;
      font-weight: 100; }

.content {
  padding: 0;
  margin: 0 auto; }
  .content__title {
    background: #D0D0D0;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 1em; }
    .content__title--footer {
      margin-bottom: 0; }
  .content .work-section__work_date, .content .work-section__work_position, .content .work-section__work_website, .content .work-section__work_institution, .content .work-section__work_study_date, .content .work-section__work_qualification,
  .content .education-section__work_date,
  .content .education-section__work_position,
  .content .education-section__work_website,
  .content .education-section__work_institution,
  .content .education-section__work_study_date,
  .content .education-section__work_qualification {
    margin-bottom: 0;
    display: inline-block;
    width: 30%; }
  .content .work-section .item,
  .content .education-section .item {
    border-bottom: 1px solid #D0D0D0;
    padding-bottom: 6px; }
    .content .work-section .item:last-child,
    .content .education-section .item:last-child {
      margin-bottom: 0px; }
    .content .work-section .item__container,
    .content .education-section .item__container {
      padding: 5px 0 0 0; }
    .content .work-section .item__title-container,
    .content .education-section .item__title-container {
      display: inline-block;
      width: 49%; }
      .content .work-section .item__title-container .work_name,
      .content .work-section .item__title-container .work_position,
      .content .education-section .item__title-container .work_name,
      .content .education-section .item__title-container .work_position {
        display: inline-block; }
      .content .work-section .item__title-container .work_position,
      .content .education-section .item__title-container .work_position {
        font-weight: 100; }
      .content .work-section .item__title-container .work_name,
      .content .education-section .item__title-container .work_name {
        font-weight: 400;
        text-transform: uppercase; }
    .content .work-section .item .work_date,
    .content .education-section .item .work_date {
      width: 50%;
      text-align: right;
      display: inline-block;
      font-weight: 100; }
      .content .work-section .item .work_date__end-date, .content .work-section .item .work_date__start-date,
      .content .education-section .item .work_date__end-date,
      .content .education-section .item .work_date__start-date {
        display: inline-block; }
    .content .work-section .item .summary,
    .content .education-section .item .summary {
      width: 75%;
      font-weight: 100; }
    .content .work-section .item .highlights,
    .content .education-section .item .highlights {
      width: 75%;
      font-size: 0.95em;
      font-weight: 100; }
      .content .work-section .item .highlights__list,
      .content .education-section .item .highlights__list {
        padding: 0 0 0 40px;
        margin: 0.25em 0; }
        .content .work-section .item .highlights__list li,
        .content .education-section .item .highlights__list li {
          margin-left: 10px; }
  .content .skills-section {
    border-bottom: 1px solid #D0D0D0; }
    .content .skills-section .skills-container {
      display: flex;
      flex-wrap: wrap; }
      .content .skills-section .skills-container .item {
        width: 19%;
        margin: auto;
        padding: 2px;
        vertical-align: top;
        min-height: 195px;
        text-align: left;
        border: 0; }
        .content .skills-section .skills-container .item__name {
          font-weight: 400; }
          .content .skills-section .skills-container .item__name p {
            padding: 5px 0;
            margin: 0; }
        .content .skills-section .skills-container .item__keywords {
          font-weight: 100;
          padding: 0 15px;
          margin: 0; }

@media print {
  body {
    max-width: 1500px;
    font-size: 1.7em; }
    body li {
      position: relative;
      list-style: none; }
      body li::before {
        position: absolute;
        top: 14px;
        left: -30px;
        content: '';
        background-color: black;
        border-radius: 50%;
        width: 5px;
        height: 5px; }
    body .content .skills-section .skills-container {
      display: block; }
      body .content .skills-section .skills-container .item {
        display: inline-block; }
        body .content .skills-section .skills-container .item__keywords {
          padding: 0 30px; } }
